@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
/*Naslovi*/
@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@0,100..900;1,100..900&display=swap');
/*tekst*/
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&family=VT323&display=swap');
/*Igrica*/

:root {
    --color-smaragad-ljubicasta: #54318C;
    --color-svijetlo-ljubicasta: #A486D5;
    --color-banana-žuta: #FFEB99;
    --color-pijana-žuta: #FFDE5C;
    --color-sunđer-žuta: #FFCC00;
}

* {
    margin: 0px;

    box-sizing: border-box;
    font-family: "Rubik Mono One", ;
    color: rgb(160, 171, 180);
    
}

html {
    scroll-behavior: smooth;
    background: rgb(195,173,226);
    background: linear-gradient(90deg, rgba(195,173,226,1) 0%, rgba(130,65,194,1) 100%);
}

header {
    background-color: var(--color-smaragad-ljubicasta);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
}
/* width */
::-webkit-scrollbar {
    width: 5px;


  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:var(--color-sunđer-žuta);
    border-radius: 5px;
  }
nav {
    display: flex;
    align-items:center;
    padding: 5, 10, 10, 7;
}

nav>ul {
    display: flex;
    text-decoration: none;
    justify-content: space-between;
    list-style-type: none;
}
nav ul li a::after{
    content: "";
    display: block;
    height: 2px;
    width: 0;
    background-color: var(--color-sunđer-žuta);
}
nav ul li a:hover::after
{
   
    width: 100%;
}
a {
    text-decoration: none;
}

.menitekst {
    font-size: 17px;
    font-family: "Chivo Mono";

}

.menu li {
    margin-inline: 50px;
}

.logo {
    height: 50px;
    padding-left: 10px;
}
.landing-page{
    padding-top: 70px;
    padding-left:32px;
  
}

.koda img {
    
    max-width: 400px;
    max-height: 450px;
}

.hero-card{
    margin-left: 5%;
    word-spacing:.4px;
    max-width: fit-content;
    font-size: 80px;
    display: flex;
    justify-content: left; 
   
}
.Slogan{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 50px;
    padding-top: 25px;
    font-family: "VT323";
    font-size: 55px;
   

}
.Slogan h1 {
   
    color: #54318C;
}

.Slogan span{
    color: #f8f6f2;
}
.Slogan p {
    padding-top: 20px;
    margin-top: 10px;
    font-size: 37px;
    font-style: italic;
    color: #FFCC00;
    
}
.glavno {
    background: rgb(195,173,226);
    background: linear-gradient(90deg, rgba(195,173,226,1) 0%, rgba(130,65,194,1) 100%);
    
}
.start-animation{
    /* .glavno h2{ */
    font-size: 72px;
    color: #f0f8ff;
    font-family:"VT323";
    text-align: center;
    
    padding-top: 50px;
 /*ANIMACIJA */
    overflow: hidden;
    border-right: 5px solid rgb(227, 226, 225);
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing:5px; /* Adjust as needed */
    animation: 
     typing 3.5s steps(40, end),
      blink-caret .3s step-end  ;
    
    text-align: center;
}
@keyframes typing {
    from { width: 0 }
    to { width: 45% }
  }

  @keyframes blink-caret {
    from, to { border-color: transparent }
    20% { border-color: rgb(242, 240, 237); }
  }
/*Ovde novi div*/
#animacija {
    display: flex;
    border: solid 10px var(--color-smaragad-ljubicasta);
    border-radius: 30px;
    height: 150px;
}

@keyframes spinTop {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(-35deg);
    }
  }
  @keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes moveDots {
    0% {
        transform: translateX(100%); /* Startna pozicija, s desne strane */
    }
    100% {
        transform: translateX(-100%); /* Krajnja pozicija, 100% širine prema levoj strani */
    }
}

.dots-list{
    
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;

}
.dot {
    width: 30px;
    height: 30px;
    background-color: #FFF;
    border-radius: 30%;
    margin-right: 50px;
    right: -30px;
    animation: moveDots 1s linear infinite, fadeIn 1s ease-out infinite; 
}


#animacija img{
    width:150px;
    
    height: 120px;
    padding-left: 10px;
    animation: spinTop .5s infinite linear;
}

.glavno hr {
    padding-top: 100px;
    border: 10px solid var(--color-smaragad-ljubicasta);
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
}
#osnovni-div {
    display: flex;

    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px;
    margin-top: 50px;
    margin-left: 60px;
    margin-right: 60px;
    height: 1300px;
    border: 6px solid rgb(204, 219, 231) ;
    background-color: var(--color-smaragad-ljubicasta);
    border-radius: 40px;
   font-weight: bold;
    
  
}
.sadržaj{
    display: flex;
    padding-top: 30px;

}
.sadržaj img{
    
    height: 200px;
    width: 200px;
}
.polja{
    margin-top: 20px;
   height: 350px;
   width: 550px;
  
   
}
.polja h1{
    color: rgb(219, 228, 235);
    color:var(--color-pijana-žuta);
    font-size: 35px;
    font-family: "Chivo Mono";
    padding-top: 10px;
    padding-left: 10px;
    
}
.polja p{

    color: #c6c9cd;
    font-weight: bold;
    font-size: 22px;
    padding-left: 20px;
}
.zanimanja{
    height: 750px;
    
}
.zanimanja h2{
    padding-top: 10px   ;
    color: #54318C;
    font-family: "VT323";   
    font-size:72px;
}

.katalog{
    overflow-x: visible;
    font-family: "Rubik Mono One";
    height: 700px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
 
}
.kartica{
    
    background: rgb(84,49,140);
    background: linear-gradient(0deg, rgba(84,49,140,1) 10%, rgba(152,113,215,1) 55%, rgba(152,113,215,1) 67%, rgba(211,183,180,1) 94%, rgba(255,235,153,1) 100%);  
    border-radius: 20px;
    margin: 20px;
    height: 80%;
    width: 25%;
    gap:20px;
}
.kartica img{
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    height: 200px;
    aspect-ratio: 1;
    
}
.kartica h3{
    font-size: 24px;
    color:rgb(219, 228, 235);
    
}
.kartica p{
    padding-top: 10px;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    color: var(--color-pijana-žuta);
}
.swiper {
    height: 70%;
    width: 90%;
    
}
  
.swiper .swiper-slide{
    display: flex;
    justify-content: center;
    align-items: center;
}
.O-nama{
   
    height: 650px;
}

@keyframes typeIn {
    to { width: 28ch; }
}

/*O NAMA*/
.O-nama {
    position: relative;
}

.slideshow {
    width: 100%;
    height: 100%;
    border: 0px;
    padding: 0px;
    margin: 0 auto;
    background-color: #000;
    overflow: hidden;
}
input {
    display: none;
}
input:checked + .slide {
    transform: translateX(0px);
    transition: transform 0.5s ease-in-out;
}
input:checked + .slide .slide__content {
    width: 100%;
    display: block;
}
.slide {
    
    transform: translateX(-100%);
    position: absolute;
    width: 50%;
    height: 100%;
    background-size: 50% 100%;
    transition: transform 0.5s ease-in-out;
}
.slide__content {
    
    box-sizing: border-box;
    height: calc(100% - 60px);
    overflow: auto;
    padding: 50px;
    color: #ddd;
    position: absolute;
    left: 100%;
    display: none;
    animation-name: fade-in;
    animation-duration: 1s;
    animation-iteration-count: 1;
    opacity: 1;
}
.slide:nth-child(3) {
    background: rgb(84,49,140);
    background: linear-gradient(180deg, rgba(84,49,140,1) 7%, rgba(114,77,173,1) 33%, rgba(152,113,215,1) 52%, rgba(181,147,198,1) 72%, rgba(204,175,184,1) 83%, rgba(255,235,153,1) 100%);
    border-radius: 30px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}
.slide:nth-child(3):after {
    position: absolute;
    margin: auto;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100px;
}
.slide:nth-child(6) {
    background: rgb(84,49,140);
    background: linear-gradient(180deg, rgba(84,49,140,1) 7%, rgba(114,77,173,1) 33%, rgba(152,113,215,1) 52%, rgba(181,147,198,1) 72%, rgba(204,175,184,1) 83%, rgba(255,235,153,1) 100%);
    border-radius: 30px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}
.slide:nth-child(6):after {
    position: absolute;
    margin: auto;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100px;
}
.slide:nth-child(9) {
     background: rgb(84,49,140);
    background: linear-gradient(180deg, rgba(84,49,140,1) 7%, rgba(114,77,173,1) 33%, rgba(152,113,215,1) 52%, rgba(181,147,198,1) 72%, rgba(204,175,184,1) 83%, rgba(255,235,153,1) 100%);;
    border-radius: 30px;    
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}
.slide:nth-child(9):after {
    position: absolute;
    margin: auto;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100px;
}
.slide:nth-child(12) {
    background: rgb(84,49,140);
background: linear-gradient(180deg, rgba(84,49,140,1) 7%, rgba(114,77,173,1) 33%, rgba(152,113,215,1) 52%, rgba(181,147,198,1) 72%, rgba(204,175,184,1) 83%, rgba(255,235,153,1) 100%);
border-radius: 30px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}
.slide:nth-child(12):after {
    position: absolute;
    margin: auto;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100px;
}
.slide:nth-child(15) {
    background: rgb(84,49,140);
background: linear-gradient(180deg, rgba(84,49,140,1) 7%, rgba(114,77,173,1) 33%, rgba(152,113,215,1) 52%, rgba(181,147,198,1) 72%, rgba(204,175,184,1) 83%, rgba(255,235,153,1) 100%);
border-radius: 30px;       
background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}
.slide:nth-child(15):after {
    position: absolute;
    margin: auto;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100px;
}
label {
    box-sizing: border-box;
    color: #aaa;
    font-weight: bold;
    width: calc((50% / 5) - 2%);
    margin: 5px 1%;
    height: 50px;
    line-height: 50px;
    border-bottom: solid 4px #aaa;
    text-align: center;
    /* position: absolute; */
    bottom: 5px;
    text-transform: uppercase;
}
label:hover {
    cursor: pointer;
    color: #fff;
    border-bottom: solid 4px #fff;
}
label:nth-child(1) {
    left: calc(50% + (0 * (50% / 5)));
    border-bottom-color: #2e112d;
}
label:nth-child(4) {
    left: calc(50% + (1 * (50% / 5)));
    border-bottom-color: #540032;
}
label:nth-child(7) {
    left: calc(50% + (2 * (50% / 5)));
    border-bottom-color: #820333;
}
label:nth-child(10) {
    left: calc(50% + (3 * (50% / 5)));
    border-bottom-color: #c9283e;
}
label:nth-child(13) {
    left: calc(50% + (4 * (50% / 5)));
    border-bottom-color: #f0433a;
}
@keyframes fade-in {
    0% {
        opacity: 0;
   }
    50% {
        transform: translateY(-50px);
        opacity: 0;
   }
    100% {
        transform: translateY(0px);
        opacity: 1;
   }
}
.psst {
    display: inline-block;
    background-color: rgba(0, 150, 255, 0.1);
    border: solid 1px rgba(0, 150, 255, 0.5);
    color: rgba(0, 150, 255, 0.5);
    padding: 15px 20px;
    border-radius: 4px;
}


#razak{
    height: 75px;
}
/*ODAVDE*/  
.footer {
   
    position: relative;
    padding: 20px ;
}
.footer .container{
	max-width: 1170px;
	margin:auto;
}
.row {
	display: flex;
	flex-wrap: wrap;
}
.footer ul{
	list-style: none;
}
.footer{
    font-family: 'Courier New', Courier, monospace;
	background-color: #24262b;
    /* padding: 70px 0; */
    
}
.footer-col{

   width: 25%;
   padding: 0 15px;
}

.footer-col img{
  height: 70px;
  width: auto;
}
.footer-col p{
  color: #bbbbbb;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: var(--color--purple-light);
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}
.outro{
    padding-top: 15px;
}
#dizajner{
    padding-top: 7px;
    color: rgb(107, 107, 143);
}
