@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
/*Naslovi*/
@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@0,100..900;1,100..900&display=swap');
/*tekst*/
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&family=VT323&display=swap');
/*Igrica*/

:root {
    --color-smaragad-ljubicasta: #54318C;
    --color-svijetlo-ljubicasta: #A486D5;
    --color-banana-žuta: #FFEB99;
    --color-pijana-žuta: #FFDE5C;
    --color-sunđer-žuta: #FFCC00;
}

* {
    margin: 0px;

    box-sizing: border-box;
    font-family: "Rubik Mono One", ;
    color: rgb(160, 171, 180);
    
}

html {
    scroll-behavior: smooth;
    background: rgb(195,173,226);
    background: linear-gradient(90deg, rgba(195,173,226,1) 0%, rgba(130,65,194,1) 100%);
}

header {
    background-color: var(--color-smaragad-ljubicasta);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
}
/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:var(--color-sunđer-žuta);
    border-radius: 5px;
  }
nav {
    display: flex;
    align-items:center;
    padding: 5, 10, 10, 7;
}

nav>ul {
    display: flex;
    text-decoration: none;
    justify-content: space-between;
    list-style-type: none;
}
nav ul li a::after{
    content: "";
    display: block;
    height: 2px;
    width: 0;
    background-color: var(--color-sunđer-žuta);
}
nav ul li a:hover::after
{
   
    width: 100%;
}
a {
    text-decoration: none;
}

.menitekst {
    font-size: 22px;
    font-family: "Chivo Mono";

}

.menu li {
    margin-inline: 50px;
}

.logo {
    height: 50px;
    padding-left: 10px;
}
.landing-page{
    padding-top: 70px;
    padding-left:32px;
  
}

.koda img {
    
    max-width: 400px;
    max-height: 450px;
}

.hero-card{
    margin-left: 5%;
    word-spacing:.4px;
    max-width: fit-content;
    font-size: 80px;
    display: flex;
    justify-content: left; 
   
}
.Slogan{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 50px;
    padding-top: 25px;
    font-family: "VT323";
    font-size: 55px;
   

}
.Slogan h1 {
   
    color: #54318C;
}

.Slogan span{
    color: #f8f6f2;
}
.Slogan p {
    padding-top: 20px;
    margin-top: 10px;
    font-size: 37px;
    font-style: italic;
    color: #FFCC00;
    
}
.glavno {
    background: rgb(195,173,226);
    background: linear-gradient(90deg, rgba(195,173,226,1) 0%, rgba(130,65,194,1) 100%);
    
}
.glavno h2{
    font-size: 72px;
    color: #f0f8ff;
    font-family:"VT323";
    text-align: center;
    
    padding-top: 50px;
 /*ANIMACIJA */
    overflow: hidden;
    border-right: 5px solid rgb(227, 226, 225);
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing:5px; /* Adjust as needed */
    animation: 
     typing 3.5s steps(40, end),
      blink-caret .3s step-end  ;
    
    text-align: center;
}
@keyframes typing {
    from { width: 0 }
    to { width: 45% }
  }

  @keyframes blink-caret {
    from, to { border-color: transparent }
    20% { border-color: rgb(242, 240, 237); }
  }
/*Ovde novi div*/
#animacija {
    display: flex;
    border: solid 10px var(--color-smaragad-ljubicasta);
    border-radius: 30px;
    height: 150px;
}

@keyframes spinTop {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(-35deg);
    }
  }
  @keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes moveDots {
    0% {
        transform: translateX(100%); /* Startna pozicija, s desne strane */
    }
    100% {
        transform: translateX(-100%); /* Krajnja pozicija, 100% širine prema levoj strani */
    }
}

.dots-list{
    
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;

}
.dot {
    width: 30px;
    height: 30px;
    background-color: #FFF;
    border-radius: 30%;
    margin-right: 50px;
    right: -30px;
    animation: moveDots 1s linear infinite, fadeIn 1s ease-out infinite; 
}


#animacija img{
    width:150px;
    
    height: 120px;
    padding-left: 10px;
    animation: spinTop .5s infinite linear;
}

.glavno hr {
    padding-top: 100px;
    border: 10px solid var(--color-smaragad-ljubicasta);
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
}
#osnovni-div {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px;
    margin-top: 50px;
    margin-left: 60px;
    margin-right: 60px;
    height: 1300px;
    border: 6px solid rgb(204, 219, 231) ;
    background-color: var(--color-smaragad-ljubicasta);
    border-radius: 40px;
   font-weight: bold;
    
  
}
.sadržaj{
    display: flex;
    padding-top: 30px;

}
.sadržaj img{
    
    height: 200px;
    width: 200px;
}
.polja{
    margin-top: 20px;
   height: 350px;
   width: 550px;
  
   
}
.polja h1{
    color: rgb(219, 228, 235);
    color:var(--color-pijana-žuta);
    font-size: 35px;
    font-family: "Chivo Mono";
    padding-top: 10px;
    padding-left: 10px;
    
}
.polja p{

    color: #c6c9cd;
    font-weight: bold;
    font-size: 22px;
  
    padding-left: 20px;
}
.zanimanja{
    border: 10px solid green;
    height: 850px;
}
.zanimanja h2{
    color: #54318C;
    font-family: "VT323";   
    font-size:72px;
}
.zanimanja p{
    font-size: 22px;
    color: var(--color-sunđer-žuta);

}
.katalog{
    border: solid 10px red;
    height: 700px;
    display: flex;
    flex-direction: row;
    gap:30px
}
.kartica{
    background-color: blue;
    height: 600px;
    width: 500px;
    gap:20px
}